* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
body {
  color: #333;
}
.center {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.center>* {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
